<!DOCTYPE html>
<html lang="de">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	</head>
	<body>
		<h1 align="middle" style="margin-bottom: 30px;">Dein Kühlschrank</h1>
		<div align="middle" style="width: 100%;">
			<form method="post" action="/" >
				<label for="selectAll"> 
					<input type="checkbox" id="selectAll" name="selectAll" onclick="auswaehlen();"> Alles/Nichts auswählen
				</label>
				<div align="middle" style="margin: auto;width: 35%;overflow: hidden; margin:20px;grid-template-columns: auto;grid-template-areas:'left right';">
					<div style="display: grid; width: 50%;float: left;text-align: left;height: auto;grid-area: left;">
					{% for i in range(zutaten | length) %}
						{% if i%2 == 0 %}
							{% if (i/2)%2 == 0 %}
								<div style="display: grid; text-align: left;height: auto;">
									<h5 style="margin:0px;margin-top: 20px;margin-bottom: 10px;">{{zutaten [i]}}</h5>
									{% for k in range(zutaten[i+1]|length) %}
										{% if zutaten[i+1][k] in vorhanden %}
											<label for="{{zutaten[i+1][k]}}"> 
												<input type="checkbox" id="{{zutaten[i+1][k]}}" name="lebensmittel" value="{{zutaten[i+1][k]}}"  checked> {{zutaten[i+1][k]}}
											</label>
										{% else %}
											<label for="{{zutaten[i+1][k]}}"> 
												<input type="checkbox" id="{{zutaten[i+1][k]}}" name="lebensmittel" value="{{zutaten[i+1][k]}}" > {{zutaten[i+1][k]}}
											</label>
										{% endif %}	
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				<div style="display: grid; width: 50%;float: right; text-align: left;height: auto;grid-area: right;margin:0px;padding: 0px;">
					{% for i in range(zutaten | length) %}
						{% if i%2 == 0 %}
							{% if (i/2)%2 != 0 %}
								<div style="display: grid; text-align: left;height: auto;">
									<h5 style="margin:0px;margin-top: 20px;margin-bottom: 10px;">{{zutaten [i]}}</h5>
									{% for k in range(zutaten[i+1]|length) %}
										{% if zutaten[i+1][k] in vorhanden %}
											<label for="{{zutaten[i+1][k]}}"> 
												<input type="checkbox" id="{{zutaten[i+1][k]}}" name="lebensmittel" value="{{zutaten[i+1][k]}}"  checked> {{zutaten[i+1][k]}}
											</label>
										{% else %}
											<label for="{{zutaten[i+1][k]}}"> 
												<input type="checkbox" id="{{zutaten[i+1][k]}}" name="lebensmittel" value="{{zutaten[i+1][k]}}" > {{zutaten[i+1][k]}}
											</label>
										{% endif %}	
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				</div>
				<input type="submit" class="btn btn-primary" value="Aktualisieren" style="background-color: #cce6ff; border:1px solid #004f99; color: black; width:200px;margin: 10px;">
			</form>
		</div>
		<script>
			function auswaehlen() {
				if (document.getElementById("selectAll").checked == true){
					checkboxes = document.getElementsByName('lebensmittel');
					for(var i=0, n=checkboxes.length;i<n;i++) {
						checkboxes[i].checked = true;
					}
				}else{
					checkboxes = document.getElementsByName('lebensmittel');
					for(var i=0, n=checkboxes.length;i<n;i++) {
						checkboxes[i].checked = false;
					}	
				}
				
			}
		</script>
	</body>
</html>
